.okayNav-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.okayNav__item {
    display: inline-block;
}

.okayNav__menu-toggle {
    height: 1em;
    width: 1em;
}
